 body{
  margin: 0px 0px;
  width:100%;
  font-family: "Lato", Times, sans-serif;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.wrapper{
	background: url(references/bubbles.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	vertical-align: baseline;
	width: 100%;
	position:relative;
	height:calc(40vw);
}

.wrapper #corner{
	height: 55%;
	width:auto;
	position: absolute;
	right: 0;
	bottom: 0;
}
.wrapper #me{
	height: auto;
	width: calc(30vw);
	position: absolute;
	bottom: 0;
	left: 15%;
}

.intro{
	padding-top: 5%;
	padding-right: 10%;
	text-align: right;
	grid-template-columns: 2;
	font-size: calc(1.8vw);
}

.buttons {
	padding-top: 1%;
	padding-right: 10%;
	text-align: right;
	grid-template-columns: 2;
}

.button{
	padding: 1%;
	background-color: #000223;
	color:white;
	margin: 1%;
	text-decoration: none;
	font-size: calc(1.5vw);
	border-radius:25px;
}

.about{
	background-color: #000223;
	color: #FFFFFF;
	padding: 2% 15%;
	font-size:15px;
	position:relative;
}

.about h2{
	text-align: center;
}

.projects {
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
	position:relative;
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
	flex-grow:1;
}

.projects h2{
	padding:10px;
	margin:10px;
	color:#000223;
}

.projects p{
	padding: 0.5% 15%;
	font-size:15px;
	position:relative
	color: #000223;
}

.gitbutton{
	padding: 1.2%;
	background-color: #000223;
	color:white;
	margin: 1%;
	text-decoration: none;
	font-size: 15px;
	border-radius:25px;
}

footer ul{
  width: 100%;
  height:40px;
  flex-shrink:1;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: center;
}

footer ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px 5% 4px 5%;
  height: 40px;
  width:calc(10vw);
}

footer ul li a{
  color: white;
  padding: 10px 1% 0px 1%;
  font-size: 15px;
  text-decoration: none;
}

footer{
	margin-top: auto;
	margin-bottom:auto;
	height:50px;
	width: 100%;
	background-color: #000223;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	display: flex;
  	flex-direction:column;
  	align-items: center;
	
}
